/*
  *** TODO: fill in your header ***
  /*
  Name: jung heum woo
  Date: April 15, 2023
  Section: IAB 6068 / ji woo lee
  This is the styles.css page for my portfolio of web development
  work.
*/

/*
  Remember: This body ruleset is to get you started, but does not count
  towards the CSP requirements!
*/
body {
  background-color: #f5f5dc;
  font-family: "Helvetica", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

h1 {
  font-family: Georgia, serif;
  font-weight: bold;
  font-style: italic;
}

