/*
  Name: jung heum woo
  Date: April 15, 2023
  Section: IAB 6068 / ji woo lee
  This is the styles.css page for my portfolio of web development
  work.
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  background-color: #f5f5dc;
  font-family: "Helvetica", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 0;
}

h1, h2, h3, h4 {
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  font-family: Georgia, serif;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px 2px gray;
}

header {
  width: 100%;
  background-color: darksalmon;
  display: flex;
  justify-content: space-evenly;
}

.food-box, .my-introduce{
  display: grid;
  background-color: #EEEEEE;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
  margin-bottom: 30px;
}

.ingredients {
  column-count: 2;
}

.food-img , .my-feeling-img{
  width: 350px;
  height: 350px;
  margin: auto;
}
